
@{
    ViewBag.Title = "New Game";
}

<h2>New Game</h2>

<form  action="https://localhost:44390/game/new" method="post">
    <label for="fname">password:</label><br>
    <input type="text" id="gameCode" name="gameCode"><br>
    <input type="submit" value="Submit">
</form>
